<div
  *ngIf="
    formChild.invalid &&
    (formChild.dirty || formChild.touched) &&
    formChild.errors
  "
>
  <div class="invalid-input" *ngIf="formChild.hasError('required')">
    Campo Obrigatorio
  </div>
  <div class="invalid-input" *ngIf="formChild.hasError('maxlength')">
    Tamanho Maximo {{ formChild.errors.maxlength.requiredLength }}
  </div>
  <div class="invalid-input" *ngIf="formChild.hasError('minlength')">
    Tamanho Minimo {{ formChild.errors.minlength.requiredLength }}
  </div>
</div>
