<div class="row">
  <div class="col-12">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <ir-text-input
        inputKey="username"
        [formRoot]="profileForm"
        label="Email:"
        placeholder="Digite seu Email"></ir-text-input>
      <ir-text-input
        inputKey="password"
        [formRoot]="profileForm"
        label="Senha:"
        placeholder="Digite sua Senha"></ir-text-input>
      <div class="form-check">
        <input
          [class.is-invalid]="
            profileForm.controls['savelogin'].invalid &&
            (profileForm.controls['savelogin'].dirty ||
              profileForm.controls['savelogin'].touched) &&
            profileForm.controls['savelogin'].errors
          "
          type="checkbox"
          formControlName="savelogin"
          class="form-check-input"
          id="exampleCheck1"
        />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <ir-input-validator
          [formChild]="profileForm.controls['savelogin']"
        ></ir-input-validator>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
